@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E8E8E8;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    margin: 20px 0;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.diagram {
    margin-bottom: 40px;
}

#barchart .x-axis text,
#barchart .y-axis text {
    font-size: 12px;
    fill: #5e5e5e;
}

#barchart .x-axis text {
    transform: rotate(10deg) translateY(5px);
}

#barchart .bar {
    fill: #023020;
    shape-rendering: crispEdges;
}
#barchart .bar:hover {
    fill: #47685D;
    transition: fill ease-in-out 200ms;
}

#barchart-tooltip,
#scatter-tooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
}
.barchart-tooltip-label {
    font-weight: 500;
    font-size: 10px;
    color: #888;
}

#scatter-tooltip .tooltip-title {
    color: #888;
}




























/*#tooltip {*/
/*    position: absolute;*/
/*    display: none;*/
/*    background-color: #ff3c3c;*/
/*    padding: 5px;*/
/*    border-radius: 5px;*/
/*}*/

/*#tooltip .pokemon-details {*/
/*    margin-top: 10px;*/
/*}*/

/* Axes */
/*.axis line {*/
/*    fill: none;*/
/*    stroke: #8693a0;*/
/*    shape-rendering: crispEdges;*/
/*}*/
/*.axis text {*/
/*    font-size: 13px;*/
/*    fill: #6b6b6b;*/
/*}*/
/*.axis-title {*/
/*    font-size: 13px;*/
/*    fill: #888;*/
/*}*/
/*.x-axis .domain {*/
/*    stroke: #8693a0;*/
/*}*/
/*.y-axis .domain {*/
/*    display: none;*/
/*}*/

/*.chart-area {*/
/*    fill: #e9eff5;*/
/*}*/
/*.chart-line {*/
/*    fill: none;*/
/*    stroke: #517390;*/
/*    stroke-width: 2px;*/
/*}*/

/*.geo-path {*/
/*    fill: #cfdecd;*/
/*}*/
/*.geo-boundary-path {*/
/*    stroke: #fff;*/
/*    fill: none;*/
/*    stroke-width: 0.4;*/
/*}*/
/*.geo-symbol {*/
/*    fill: #3e5e79;*/
/*    fill-opacity: 0.9;*/
/*}*/
/*.geo-symbol:hover {*/
/*    fill-opacity: 1;*/
/*}*/
/*.geo-label {*/
/*    font-size: .7rem;*/
/*    font-weight: 500;*/
/*}*/
/*.geo-visitor-label {*/
/*    font-weight: 700;*/
/*    font-size: .75rem;*/
/*}*/
