@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E8E8E8;
}

h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;

}

.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    margin: 20px 0;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

.diagram {
    margin-bottom: 40px;
    justify-self: center;
    align-self: center;
}

#barchart .x-axis text,
#barchart .y-axis text {
    font-size: 12px;
    fill: #5e5e5e;
}

#barchart .x-axis text {
    transform: rotate(10deg) translateY(5px);
}

#barchart .bar {
    fill: #023020;
    shape-rendering: crispEdges;
    transition: fill ease-in-out 200ms;
}
#barchart .bar:hover {
    fill: #47685D;
}

#barchart-tooltip,
#scatter-tooltip,
#stacked-barchart-tooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 600;
    padding: 2px 8px;
}
.barchart-tooltip-label {
    font-weight: 500;
    font-size: 10px;
    color: #888;
}

.tooltip-title {
    color: #888;
}

.diagram-properties {
    margin: 10px 0;
    text-align: center;
}

.diagram-properties .block,
.diagram-properties .role {
    display: inline-block;
}

.diagram-properties .role label,
.diagram-properties .block label {
    height: 20px;
    line-height: 20px;
}

.diagram-properties .role.inactive,
.diagram-properties .block.inactive {
    color: gray;
}

.wages-by-age-and-role .cat-goalkeeper rect {
    fill: orange;
}

.wages-by-age-and-role .cat-defender rect {
    fill: yellow;
}

.wages-by-age-and-role .cat-midfielder rect {
    fill: green;

}

.wages-by-age-and-role .cat-attacker rect {
    fill: blue;
}

#stacked-barchart rect {
    transition: filter ease-in-out 200ms;
}

#stacked-barchart rect:hover {
    filter: grayscale(30%);
}
